<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androiddev.termproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AppTabsActivity">

        </activity>

        <activity android:name=".YogaLectureListDetailActivity">

        </activity>

        <activity android:name=".UserSelectedListDetailFrameActivity">

        </activity>

        <activity android:name=".QuitConnectionActivity">

        </activity>

        <activity android:name=".DoYogaTimerActivity">

        </activity>

        <activity android:name=".HistoryActivity">

        </activity>





        <service android:name=".service.AddYogaClassToMyList"
                 android:exported="false">

        </service>

    </application>

</manifest>